# Ex1- Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [17]:
# Solution 2
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [16]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [19]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [20]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [21]:
chipo['order_id'].mode()

0    926
Name: order_id, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [23]:
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).reset_index().head()

             item_name  quantity
0         Chicken Bowl       761
1      Chicken Burrito       591
2  Chips and Guacamole       506
3        Steak Burrito       386
4    Canned Soft Drink       351

### Step 11. What was the most ordered item in the choice_description column?

In [43]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",NaN
6,3,1,Side of Chips,NaN,NaN
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",NaN
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",NaN
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",NaN

In [26]:
chipo.groupby('item_name')['choice_description'].sum().sort_values()

item_name
6 Pack Soft Drink                        [Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...
Barbacoa Bowl                            [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Barbacoa Burrito                         [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
Barbacoa Crispy Tacos                    [Tomatillo Red Chili Salsa, [Rice, Black Beans...
Barbacoa Salad Bowl                      [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...
Barbacoa Soft Tacos                      [Fresh Tomato Salsa, [Fajita Vegetables, Black...
Bottled Water                                                                            0
Bowl                                     [Braised Carnitas, Pinto Beans, [Sour Cream, C...
Burrito                                  [Adobo-Marinated and Grilled Chicken, Pinto Be...
Canned Soda                              [Sprite][Dr. Pepper][Mountain Dew][Sprite][Dr....
Canned Soft Drink                        [Coke][Sprite][Coke][Coke][Lemonade][Sprite][D...
Carnitas Bowl                            [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Carnitas Burrito                         [[Tomatillo-Green Chili Salsa (Medium), Roaste...
Carnitas Crispy Tacos                    [Roasted Chili Corn Salsa][Tomatillo Green Chi...
Carnitas Salad                           [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
Carnitas Salad Bowl                      [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
Carnitas Soft Tacos                      [Tomatillo Green Chili Salsa, [Fajita Vegetabl...
Chicken Bowl                             [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Chicken Burrito                          [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
Chicken Crispy Tacos                     [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Chicken Salad                            [Roasted Chili Corn Salsa (Medium), [Black Bea...
Chicken Salad Bowl                       [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Chicken Soft Tacos                       [Roasted Chili Corn Salsa, [Rice, Black Beans,...
Chips                                                                                    0
Chips and Fresh Tomato Salsa                                                             0
Chips and Guacamole                                                                      0
Chips and Mild Fresh Tomato Salsa                                                        0
Chips and Roasted Chili Corn Salsa                                                       0
Chips and Roasted Chili-Corn Salsa                                                       0
Chips and Tomatillo Green Chili Salsa                                                    0
Chips and Tomatillo Red Chili Salsa                                                      0
Chips and Tomatillo-Green Chili Salsa                                                    0
Chips and Tomatillo-Red Chili Salsa                                                      0
Crispy Tacos                             [Adobo-Marinated and Grilled Steak][Adobo-Mari...
Izze                                     [Clementine][Grapefruit][Blackberry][Blackberr...
Nantucket Nectar                         [Apple][Pomegranate Cherry][Pineapple Orange B...
Salad                                    [Brown Rice, Adobo-Marinated and Grilled Chick...
Side of Chips                                                                            0
Steak Bowl                               [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
Steak Burrito                            [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Steak Crispy Tacos                       [Fresh Tomato Salsa, Sour Cream][[Roasted Chil...
Steak Salad                              [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Steak Salad Bowl                         [Tomatillo Red Chili Salsa, [Black Beans, Chee...
Steak Soft Tacos                         [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...
Veggie Bowl                              [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
Veggie Burrito                           [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Veggie Crispy Tacos                      [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...
Veggie Salad                             [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
Veggie Salad Bowl                        [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
Veggie Soft Tacos                        [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Name: choice_description, dtype: object

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [30]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [29]:
chipo['item_price'].dtype

dtype('O')

In [36]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: x[1:]).astype(float).head()

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

28.54

### Step 15. How many orders were made in the period?

In [44]:
chipo['revenue'] = chipo['item_price'] * chipo['quantity']

### Step 16. What is the average revenue amount per order?

In [46]:
# Solution 1
chipo.groupby('order_id')['revenue'].sum().mean()

0.024820065430752457

In [4]:
# Solution 2

### Step 17. How many different items are sold?