# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [1]:
import string

import pandas as pd

In [3]:
banks = pd.read_csv('banklist.csv')

** Show the head of the dataframe **

In [ ]:
# CODE HERE

In [4]:
banks.head(10)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
5,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
6,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,17-Nov-16
7,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,1-Jun-17
8,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16
9,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,6-Sep-16

** What are the column names? **

In [ ]:
# CODE HERE

In [5]:
print(banks.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [ ]:
# CODE HERE

In [8]:
len(banks['ST'].unique())

44

** Get a list or array of all the states in the data set. **

In [ ]:
# CODE HERE

In [9]:
banks['ST'].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

** What are the top 5 states with the most failed banks? **

In [ ]:
# CODE HERE

In [72]:
banks.groupby('ST')['CERT'].sum().sort_values(ascending=True).head()

ST
WV     6782
HI    21029
WY    22754
MA    26619
MS    30087
Name: CERT, dtype: int64

** What are the top 5 acquiring institutions? **

In [ ]:
# CODE HERE

In [17]:
banks['Acquiring Institution'].value_counts().sort_values(ascending=False).head(6)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Community & Southern Bank               8
Name: count, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [101]:
# CODE HERE

In [65]:
x = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
x[x['ST'].str.contains('TX')]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

** What is the most common city in California for a bank to fail in?**

In [35]:
# CODE HERE

In [88]:
banks[banks['ST']=='CA'].groupby('City')['CERT'].sum().sort_values().head(1)

City
Merced    22574
Name: CERT, dtype: int64

** How many failed banks don't have the word "Bank" in their name? **

In [ ]:
# CODE HERE

In [81]:
failed = banks.sort_values(by='CERT', ascending=True)
failed[failed['Bank Name'].str.contains('Bank') == False].shape[0]

14

** How many bank names start with the letter 's' ? **

In [ ]:
# CODE HERE

In [80]:
banks[banks['Bank Name'].apply(lambda x: x[0] == 'S')].shape[0]

53

** How many CERT values are above 20000 ? **

In [ ]:
# CODE HERE

In [89]:
banks[banks['CERT'] > 20000].shape[0]

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [ ]:
# CODE HERE

In [92]:
banks[banks['Bank Name'].apply(lambda x: len(x.split()) == 2)].shape[0]

114

How many banks closed in the year 2008?

In [ ]:
# CODE HERE

In [100]:
banks[banks['Closing Date'].apply(lambda x: x.split('-')[-1] == '08')].shape[0]

25

# GREAT JOB!