# Welcome!

#### Pandas: Intro Practice Problems

In this homework, you're going to write code for a few problems. 

You'll be practicing these programming concepts we've covered in class:
* Reading data sets into Pandas.
* Filtering, manipulating, and sorting data sets.
* Basic exploratory data analysis with Pandas.

#### #1. Import Pandas with an alias of `pd`.

In [1]:
import pandas as pd

#### #2. Read in the NBA players `csv` into a variable called `nba_df`.

This is a data set of NBA players from 2015. The filename is `NBA_players_2015.csv`.

In [2]:
nba_df = pd.read_csv('NBA_players_2015 1.csv')

#### #3. Look at the first five rows of the data set.

In [3]:
nba_df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### #4. Check out the shape of the data set.

In [4]:
nba_df.shape

(478, 49)

#### #5. Run some summary stats on the data set with the `describe()` function.

In [5]:
nba_df.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,478.0,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,...,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000
mean,2015.0,26.573222,42.104603,19.874477,20.045607,3.018201,6.847699,0.429230,0.630544,1.855649,...,13.424268,18.915272,1.055858,0.971339,2.027197,0.073575,-1.396862,-0.495816,-1.892678,0.485983
std,0.0,4.219585,18.950602,22.170034,9.313441,2.052790,4.386828,0.111007,0.665808,1.790564,...,6.559989,5.493491,1.589667,0.876932,2.243138,0.133530,4.251216,2.299572,5.116001,1.013097
min,2015.0,19.000000,1.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-2.100000,-0.100000,-0.800000,-1.059000,-36.800000,-13.500000,-50.300000,-1.000000
25%,2015.0,23.000000,27.000000,0.000000,12.600000,1.425000,3.400000,0.391000,0.000000,0.100000,...,10.000000,14.800000,0.000000,0.200000,0.300000,0.040250,-2.800000,-1.600000,-3.300000,-0.100000
50%,2015.0,26.000000,47.000000,10.500000,19.850000,2.700000,5.900000,0.432000,0.450000,1.400000,...,12.900000,18.400000,0.600000,0.800000,1.400000,0.082500,-1.000000,-0.500000,-1.300000,0.100000
75%,2015.0,29.000000,59.000000,39.000000,28.175000,4.275000,9.600000,0.481750,1.000000,3.075000,...,15.900000,21.900000,1.600000,1.500000,3.000000,0.123000,0.500000,0.875000,0.500000,0.700000
max,2015.0,38.000000,66.000000,66.000000,38.900000,9.500000,21.400000,1.000000,3.400000,8.000000,...,100.000000,45.900000,9.500000,4.300000,13.000000,1.489000,28.300000,6.500000,15.100000,6.200000

#### #6. Sort the data set in on the `players` column in alphabetical order.

In [17]:
nba_df = nba_df.sort_values(by='player', ascending=True)
nba_df.reset_index(drop=True, inplace=True)
nba_df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,A.J. Price,G,28,TOT,21,0,13.3,2.3,5.9,...,8.9,23.6,0.2,0.2,0.4,0.072,0.5,-2.8,-2.4,0.0
1,2015,Aaron Brooks,G,30,CHI,65,9,21.0,3.9,9.3,...,15.5,25.7,1.1,1.0,2.1,0.073,0.7,-2.8,-2.1,0.0
2,2015,Aaron Gordon,F,19,ORL,30,6,15.2,1.9,3.8,...,17.0,15.9,0.3,0.3,0.6,0.066,-2.5,-0.5,-3.1,-0.1
3,2015,Adreian Payne,F,23,TOT,12,3,19.7,2.3,6.1,...,13.6,17.7,-0.3,0.1,-0.1,-0.024,-5.8,-2.5,-8.3,-0.4
4,2015,Al Horford,C,28,ATL,60,60,30.8,6.8,12.6,...,9.1,22.1,4.6,3.0,7.5,0.195,1.7,2.7,4.5,3.0

#### #7. Filter the data set. Create three sub DataFrames from the `position` column for `G`, `F`, and `C`.

In [20]:
nba_df_G = nba_df[nba_df['pos'] == 'G']
nba_df_G.reset_index(drop=True, inplace=True)
nba_df_G.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,A.J. Price,G,28,TOT,21,0,13.3,2.3,5.9,...,8.9,23.6,0.2,0.2,0.4,0.072,0.5,-2.8,-2.4,0.0
1,2015,Aaron Brooks,G,30,CHI,65,9,21.0,3.9,9.3,...,15.5,25.7,1.1,1.0,2.1,0.073,0.7,-2.8,-2.1,0.0
2,2015,Alan Anderson,G,32,BRK,62,19,23.8,2.5,5.7,...,11.8,13.7,1.3,0.9,2.1,0.070,-0.2,-0.3,-0.5,0.6
3,2015,Alec Burks,G,23,UTA,27,27,33.3,4.5,11.1,...,12.7,20.9,1.1,0.5,1.5,0.082,-0.3,-1.3,-1.6,0.1
4,2015,Alexey Shved,G,26,TOT,35,2,15.7,2.7,6.8,...,10.1,25.8,1.4,0.3,1.7,0.149,3.1,-3.3,-0.3,0.2

In [21]:
nba_df_F = nba_df[nba_df['pos'] == 'F']
nba_df_F.reset_index(drop=True, inplace=True)
nba_df_F.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Aaron Gordon,F,19,ORL,30,6,15.2,1.9,3.8,...,17.0,15.9,0.3,0.3,0.6,0.066,-2.5,-0.5,-3.1,-0.1
1,2015,Adreian Payne,F,23,TOT,12,3,19.7,2.3,6.1,...,13.6,17.7,-0.3,0.1,-0.1,-0.024,-5.8,-2.5,-8.3,-0.4
2,2015,Al-Farouq Aminu,F,24,DAL,60,3,17.0,2.0,4.7,...,11.8,15.7,0.9,1.7,2.6,0.124,-0.6,3.0,2.3,1.1
3,2015,Alonzo Gee,F,27,TOT,43,0,12.4,1.6,3.3,...,14.0,16.3,0.6,0.5,1.1,0.100,-0.8,0.5,-0.3,0.2
4,2015,Amar'e Stoudemire,F,32,TOT,44,14,22.8,4.7,8.4,...,14.0,23.2,2.0,0.8,2.8,0.134,-0.2,-0.7,-0.9,0.3

In [22]:
nba_df_C = nba_df[nba_df['pos'] == 'C']
nba_df_C.reset_index(drop=True, inplace=True)
nba_df_C.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Al Horford,C,28,ATL,60,60,30.8,6.8,12.6,...,9.1,22.1,4.6,3.0,7.5,0.195,1.7,2.7,4.5,3.0
1,2015,Al Jefferson,C,30,CHO,53,49,31.4,7.8,16.0,...,5.4,26.4,1.5,2.9,4.5,0.129,-0.9,1.7,0.8,1.2
2,2015,Alex Kirk,C,23,CLE,5,0,2.8,0.2,0.8,...,0.0,15.7,0.0,0.0,0.0,0.060,-3.0,-4.3,-7.3,0.0
3,2015,Alex Len,C,21,PHO,61,36,21.7,2.7,5.0,...,15.4,13.7,1.5,1.8,3.3,0.119,-2.8,2.0,-0.8,0.4
4,2015,Alexis Ajinca,C,26,NOP,51,6,14.0,2.8,4.8,...,15.3,20.8,1.8,0.9,2.7,0.181,0.4,0.2,0.7,0.5

In [24]:
print(nba_df_G.shape, nba_df_F.shape, nba_df_C.shape)

(200, 49) (199, 49) (79, 49)

#### #8.  Run `describe()` on these new DataFrames. Compare the mean field goals (the `fg` column) between positions.

In [53]:
print('G: ' ,nba_df_G['fg'].mean())
print('F: ' ,nba_df_F['fg'].mean())
print('C: ' ,nba_df_C['fg'].mean())

G:  3.2
F:  2.8467336683417086
C:  2.9898734177215194

The end!

#### Great job!